.App {
  text-align: center;
}
body {
  background-color: #f6f6f2;
  color: black;
  font-family: "Amazon Ember", sans-serif;
}

.header-section {
  margin: auto;
  margin-top: 15px;
  background-color: #f6f6f2;
}

.header-section img {
  position: relative;
  width: 250px;
}

.morse-chart {
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  margin: auto;
}

.morse-chart img {
  width: 250px;
}

.error-section {
  height: 45px;
}

.get-code-section {
  display: flex;
  justify-content: space-evenly;
  max-width: 700px;
  padding: 15px;
  margin: auto;
  margin-bottom: 10px;
  margin-bottom: 25px;
}

.play-stop-buttons button {
  margin-left: 5px;
}

form input {
  padding: 7px;
  margin-right: 20px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  box-sizing: border-box;
  color: #0f1111;
  font-family: "Amazon Ember", sans-serif;
}
form select {
  padding: 7px;
  margin-right: 20px;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  box-sizing: border-box;
  color: #0f1111;
  font-family: "Amazon Ember", sans-serif;
}

button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

button:hover {
  background-color: #f7fafa;
}

.virtual-keyboard {
  margin-top: 25px;
  margin-bottom: 25px;
}

.virtual-keyboard-row {
  margin: auto;
  margin-top: 5px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.virtual-keyboard-row-num {
  margin: auto;
  margin-top: 5px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.virtual-keyboard button {
  margin: 1px;
  border: solid grey 1px;
  background-color: #fff2f2;
  border-radius: 10px;
  width: 9vw;
  max-width: 40px;
}

.virtual-keyboard-row-num button {
  width: 8vw;
}

.virtual-keyboard-row-space button {
  margin-top: 5px;
  width: 30vw;
  max-width: 150px;
}
